@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 초기화 */
body, h1, h2, h3, h4, ul, li, a, p, span {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  width: 100%;
  background-color: #F0EDE6;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html{
	scroll-behavior: smooth;
}

/* font */
h1 {
  font-size: 3em;
}
p {
  font-size: 1.5em;
}
li {
  font-size: 1.2em;
}

/* section padding */
section {
  padding: 10% 0;
}
.event {
  padding-top: 0;
}

/* first section */
.section:first-child {
  background-color: black;
  position: relative;
  overflow: hidden;
}

/* logo */
main {
  width: 100%;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

/* header fixed */
header {
  width: 100%;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.274);
}

header > #logo {
  margin-top: 10px;
  margin-left: 5%;
  background-image:url(../images/logo.svg);
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 100px;
  height: 45px;
  text-indent: 99999999999px;
  z-index: 3;
}

/* gnb */
header > nav > ul {
  position: absolute;
  top: 40%;
  left: 50%;
  /* 기준점 가운데 */
  transform: translate(-50%,-50%);
  z-index: 5;
  text-align: center;
  display: inline-block;
}

header > nav > ul > li {
  font-weight: 500;
/* 메뉴 가로정렬 */
  display: inline;
  margin: 0 auto;
}

header li.bar:after {
  content: '';
  display: inline-block;
  top: 50%;
  right: 50px;
  height: 10px;
  width: 10px;
  border-right: 1px solid #F0EDE6;
  transform: translate(-50%,-50%);

  padding: 0 30px;
  /* position: absolute; */
}

/* gnb hover */
#gnb > ul > li:hover > a {
  padding-bottom: 25px;
  border-bottom: 3px solid #F9A71A;
  color: #F9A71A;
}
#login a:hover {
  color: #F9A71A;
}

/* gnb dropdown */
#gnb.dropdowncontainer {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: #F9A71A;
  z-index: 11;
}

#gnb > ul.dropdown {
  z-index: 10;
  display: block;
  text-align: center;
  left: 50% !important;
}
.dropdown > .dropdowncontent {
  display: block;
  font-size: 30px;
}
#gnb > ul.dropdown > li {
  padding: 0 20px;
  display: block;
}

/* toggle active시 loginBox 위치 고정 */
#gnb.dropdowncontainer + #login {
  top: 30px;
}
#gnb > ul.dropdown > li:hover {
  background-color: #FED500;
  transition: 0.5s;
}

/* login */
header > #login {
  position: absolute;
  right: 5%;
  top: 45%;
  transform: translate(0%,-50%);
  z-index: 5;
  display: flex;
}

header > #login a {
  margin: 0 15px;
  position: relative;
}

/* 동그라미 배경 */
.circle:after {
  content: '';
  background-color: #FED500;
  display: inline-block;

  border-radius: 100%;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%,-50%);
}

/* 메뉴 반응형 active */
#login > a.toggle {
  display: none;
}

/* search bar */
input.searchActive {
  top: 0;
  right: 0;
  display: none;

  padding: 15px;
  width: 20vw;
  border-radius: 30px;
  border: none;
  z-index: -1;
}

/* adControls */
main > #adControls {
  position: absolute;
  bottom: 30%;
  left: 10%;
  z-index: 5;
}
/* swiper pagenation */
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-container-horizontal > .swiper-pagination-bullets {
  top: 70%;
  left: 10%;
  text-align: left;
}

/* main advertise*/
.viemoWraper {
  padding: 56.25% 0 0 0;
  overflow: hidden;
}

main > ul > li > div > iframe {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -3;
  top: 0;
}

/* 섹션높이 고정 */
#product {
  padding: 100px 0;
}

/* common product picture */
.productPic {
  width: 80%;
  border-radius: 10%;
}

/* common list position: center */
#product,
#newProduct {
  position: relative;
  overflow: hidden;
}
#newProduct,
section.event {
  background-color: white;
}
#newProduct .swiper-wrapper {
  cursor: grab;
}

#product > div > nav.listPosition > ul {
  text-align: center;
  display: inline-block;
}

/* product pagination */
/* #product .swiper-pagination-fraction, 
#product  .swiper-pagination-custom,  */

#product .swiper-container-horizontal > .swiper-pagination-bullets {
  top: auto;
  bottom: -30px;
  left: 0;
}
.swiper-pagination.totalPage {
  text-align: center;
  position:static;
}
#product .swiper-pagination-bullet {
  border: 3px solid #F9A71A;
}

/* active cursor */
#product > div > div.swiper-container.total > div > span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 12px;
  background-color: #F9A71A;
}

/* 페이지네이션 짤림 방지 */
.swiper-pagination.totalPage {
  position: absolute;
}
li.swiper-slide {
  z-index: 10;
}
/* slide button */
.swiper-button-prev,
.swiper-button-next{
  margin: 0 3%;
  font-size: 50px;
  position: relative;

  /* 배경비침 방지 */
  background-color: #F0EDE6;

  /* 백그라운드 삐져나옴 방지 */
  border-radius: 100%;
  z-index: 5;
}

.swiper-button-prev > i,
.swiper-button-next > i {
  color:#FED500;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
/* newproduct */
#newProduct > div {
  text-align: center;
}


/* event */
section.event > ul > li > a > img {
  width: 100%;
}

/* footer */
footer {
  background-color: black;
  color: white;
  padding: 50px;
}

footer > .hbaf_footTop {
  display: inline-block;
  display: flex;
}

footer > .hbaf_footTop > div {
  padding : 20px;
}
footer > .hbaf_footBtm {
  display: inline-block;
  padding: 20px;
}

footer h2 {
  font-size: 2em;
}
footer > .hbaf_logo {
  /* display: inline-block; */
  position:relative;
  top: 0;
  /* background-color: #F9A71A; */
  text-align: end;
}
footer > .hbaf_logo > .sns {
  padding-right: 30px;
}
