@charset "utf-8";

/* login button layout detail */
.fa-bars {
  position: relative;
  top: 10%;
}

/* widget(section2) */
#advertise > div.widget > a {
  margin: 10px 10px 10px 0;
}
#advertise > div.widget > a > div {
  display: inline-block;
  position: relative;
  transition: 1s;
}
#advertise > div.widget > a > div > img {
  max-width: 100%;
  width: 300px;
  height: auto;
  z-index: -1;
}

  /* widget effect */
#advertise > div.widget > a > div > p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  z-index: 1;
  opacity: 0;
  transition: 1s;
}
#advertise > div.widget > a > div:hover {
  opacity: 0.8;
}
#advertise > div.widget > a > div:hover > p {
  opacity: 1;
}

section > #monToSunAd {
  overflow: hidden;
}

section > #monToSunAd > h1 {
  text-align: right;
  font-size: 3em;
  font-weight:900;
  margin: 30px 20px 0 0;
  vertical-align: text-bottom;
  float: right;
}

section > #monToSunAd > iframe {
  float: right;
  margin-right: 2em;
  padding-top: 30px;
  width: 854px;
  height: 480px; 
}

/* section2 heading */
#monToSunAd > h1 > span:first-child { color: #F9A71A; }
#monToSunAd > h1 > span:nth-of-type(2) { color: #9FBE25; }
#monToSunAd > h1 > span:nth-of-type(3) { position: relative; }

/* 깜빡임 효과 */
#monToSunAd > h1 > span:nth-of-type(3):before {
  content: ' ';
  height: 1em;
  border-left: 5px solid black;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% {opacity: 0;}
}

/* 검색창 효과 */
#monToSunAd > h1 > span:nth-of-type(3):after {
  content: ' ';
  height: 1.5em;
  width: 120px;
  background-color: white;
  box-shadow: 0 4px 4px -4px black;
  position: absolute;
  z-index: -1;
  left: -10px;
  top: 0;
}

/* product menu background */
section#product {
  background-color: rgba(255, 255, 255, 0.5);
}
section#product > div.product:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/event/main.png");

  /* 백그라운드 이미지 top */
  position: absolute;
  top: -100px;

  /* 태블릿에서는 백그라운드포지션바텀 */
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  /* opacity: 0.5; */
  z-index: -1;
}

/* 슬라이드 컨텐츠 가운데 */
section > div.product {
  text-align: center;
}

section > div.product > .swiper-container {
  max-width: 1200px;
  top: 180px;
}

/* list layout */
section > div.product > nav.productNav > h1 {
  text-align: center;
}

section > div.product > nav.productNav > ul > li {
  float: left;
  padding-right: 30px;
}

section > div.product > nav.productNav > ul > li:last-child {
  padding-right: 0;
}

/* product menu */
.productLayout {
  position: relative;
}

.productLayout > ul {
  /* position: absolute; */
  top: 20vh;
  text-align: center;
}

.productLayout > ul > li {
  display: inline;
}

#newProduct .swiper-wrapper {
  display: block;
}

/* productPic hover effect */
#product > div.product > .swiper-container {
  overflow: visible;
}
#product > .product > .total > ul > li > a:hover {
  padding: 20px 0;
  transition: 0.3s;
  position: relative;
  top: -30px;
  overflow: hidden;
  width: 100px;
}

#product > .product > .total > ul {
  position: relative;
  top: -40px;
}

#newProduct > ul.scroll > li > a:hover > .newProductPic,
#product > .product > .total a:hover > .productPic {
  position: relative;
  top: -30px;
}

.total p,
#newProduct > ul > li > a > div > p {
  font-size: 16px;
}

#product > .product > .total a:hover > div p {
  position: relative;
  top: -30px;
}

/* newProduct */
section.newProduct.swiper-container {
  padding-bottom: 30%;
}
.newProduct .swiper-slide {
  width: 30%;
}

section:last-child > div {
  position: relative;
}

div.productLayout > ul {
  position: relative;
}
.newProductPic {
  width: 300px;
  border-radius: 10%;
}
.swiper-scrollbar {
  background-color: #9FBE25;
}

/* 화면 너비 500px */
@media screen and (max-width:600px) {
  body {
    min-width: 450px;
  }
  /* h1 position */
  .listPosition {
    left: 30vw;
  }

  header {
    background-color: #F9A71A;
  }
  #login > a:last-of-type {
    display: inline;
  }
  /* main cover ad 짤림 방지 */
  #cover > ul {
    margin-top: 70px;
  }
  #gnb.dropdowncontainer {
    height: 50vh;
  }
  .dropdown > .dropdowncontent {
    font-size: 16px;
  }
  div.product > nav.productNav > ul {
    padding-left: 10vw;
  }
  /* 메인광고 */
  .viemoWraper {
    display: none;
  }
  /* gnb toggle */
  header > nav#gnb {
    display: none;
  }
  /* 메뉴토글버튼open */
  #login > a.toggle {
    display: inline-block;
  }
  /* monToSunAd */
  section > #monToSunAd > iframe {
    width: 100%;
    margin: 10px;
    float: none;
  }  
  #monToSunAd > h1 {
    position:absolute;
    top: 35vw;
    left: 55vw;
    text-align: left;
  }
  #event {
    display: none;
  }
  section#product > div.product:after {
    display: none;
  }
  section#product > div > div.swiper-button-prev,
  section#product > div > div.swiper-button-next {
  display: none;
  }
  section#product > div.product > .swiper-container {
    /* 슬라이드 1개씩 뜨게 바꾸기 */
    width: 100%;
  }
  /* 위젯 */
  #advertise {
    position: relative;
  }
  #advertise > div.widget {
    width: 70%;
    margin: 0 auto;
  }
  #advertise > div.widget > a > div > img {
    display: inline-block;
    width: 30vw;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  #advertise > div.widget > a > div > p {
    font-size: 14px;
  }


  
  /* newproduct footer와 분리 */
  .productLayout > ul {
    top: 10vh;
  }
  /* font */
  h1 {
    font-size: 7vw;
  }
  #product ul {
    font-size: 2vw;
  }
  section > #monToSunAd > h1 {
    font-size: 5vw;
  }
  .newProductPic {
    width: 100%;
  }
  #newProduct .swiper-wrapper {
    display: flex;
  }
}



/* 화면 너비 601~767px */
@media screen and ( min-width:601px ) and ( max-width:767px ) {
  header {
    background-color: #F9A71A;
  }
  #login > a:last-of-type {
    display: inline;
  }
  /* gnb toggle */
  header > nav#gnb {
    display: none;
  }
  /* 메뉴토글버튼open */
  #login > a.toggle {
    display: inline-block;
  }
  /* main cover ad 짤림 방지 */
  #cover > ul {
    margin-top: 70px;
  }
  section#product > div.product:after {
    background-position: bottom;
    background-size: 100vh;
    background-size: contain;
  }

  #monToSunAd > iframe {
    display: none;
  }
  #advertise {
    position: relative;
  }
  #advertise > div.widget {
    width: 70%;
    margin: 0 auto;
  }
  #advertise > div.widget > a > div > img {
    display: inline-block;
    width: 30vw;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  /* monToSunAd */
  section#advertise > div > #monToSunAd > iframe {
    display: none;
  }
  #monToSunAd {
    display: inline-block;
    position: absolute;
    bottom: 15%;
    left: 45vw;
  }
  #advertise > #monToSunAd > h1 {
    text-align: left;
  }
  section#product > div > .swiper-container {
    /* 슬라이드 1개씩 뜨게 */
    width: 100%;
  }
  section#product > div.product > div.swiper-button-prev,
  section#product > div.product > div.swiper-button-next {
  display: none;
  }

  /* newproduct event와 분리 */
  .productLayout > ul {
    top: 10vh;
  }

  /* font */
  h1 {
    font-size: 5vw;
  }
  #product ul {
    font-size: 2vw;
  }
  section > #monToSunAd > h1 {
    font-size: 5vw;
  }
  .newProductPic {
    width: 100%;
  }
  #newProduct .swiper-wrapper {
    display: flex;
  }
}

/* 화면 너비 768~1100px */
@media screen and (min-width:768px) and (max-width:1100px) {
  header {
    background-color: #F9A71A;
  }
  #login > a:last-of-type {
    display: inline;
  }
  /* gnb toggle */
  header > nav#gnb {
    display: none;
  }
  /* 메뉴토클버튼open */
  #login > a.toggle {
    display: inline-block;
  }
  /* main cover ad 짤림 방지 */
  #cover > ul {
    margin-top: 70px;
  }

  /* monToSunAd */
  #advertise {
    position: relative;
  }
  #advertise > div.widget {
    width: 70vw;
    margin: 0 auto;
  }
  #advertise > div.widget > a > div > img {
    width: 250px;
  }
  #advertise > #monToSunAd > h1 br:last-child {
    display: none;
  }
  #advertise > #monToSunAd > h1 {
    margin-bottom: 50px;
  }
  #monToSunAd {
    display: inline-block;
    position: absolute;
    bottom: -80px;
    left: 48%;
    transform: translate(0,-50%);
  }
  #monToSunAd > iframe {
    display: none;
  }
  #advertise > #monToSunAd > h1 {
    text-align: left;
  }
  .productLayout > ul {
    top: 20vh;
  }
  #newProduct .swiper-wrapper {
    display: flex;
  }
  #newProduct img {
    width: 80%;
  }
}