@charset "utf-8";
/* header */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
.contentWrapper {
  max-width: 1024px;
  margin: 0 auto;
}
p, span, h2, h3 {
  font-size: 1em;
  line-height: 1;
}
header {
  background-color: #F9A71A;
  height: 70px;
  margin-bottom: 30px;
  color: white;
}
#userInfo {
  position: absolute;
  right: 4.5%;
  top: 45%;
  transform: translate(0%,-50%);
  z-index: 5;
  display: flex;
}
#userInfo > a {
  margin: 0 10px;
  position: relative;
}

/* icon layout detail */
.mypage i, .cart i {
  padding-top: 5px;
}
/* icon hover */
.mypage:hover, .cart:hover {
  color: #ffd430;
}

/* main: product picture */
main {
  color: black;
  /* seperate with header */
  padding-top: 120px;
  /* text-align: center; */
}
main > div.productMainPic {
  margin: 0 80px;
}
main > div.productMainPic > img {
  max-width: 100%;
  border-radius: 20px;
}
/* aside: product info */
.productInfo,
aside > .recommand {
  background-color: #F0EDE6;
  border-radius: 20px;
  right: 0;
  padding: 30px 0 0 30px;
  z-index: 3;
  color: #4E2F01;
}
.productInfo {
  position: absolute;
  top: 120px;
  height: 510px;
  width: 500px;
}
aside > .recommand {
  display: flex;
  border-radius: 20px 0 0 20px;
  margin-top: 20px;
  position: relative;
}

/* 여닫기버튼 */
.close {
  position: absolute;
  top: 5px;
  right: 0;
  color: #4E2F01;
  z-index: 10;
}
.swiper-wrapper li.swiper-slide {
  margin-right: 0 !important;
}

/* detail page */
.detail {
  text-align: center;
}
/* 구매박스 */
.productInfo{
  /* 세로 가운데 정렬 */
  display: flex;
  align-items: center;
}
.productInfo > .buying > .productName {
  border-bottom: 1px solid #C4C4C4;
  overflow: hidden;
}
.productName > h2 {
  font-size: 2.5em;  
  float: left;
  line-height: 1.2;
}
.likenShare {
  height: 60px;
  line-height: 50px;
}
.likenShare > a {
  position: relative;
  margin: 0px 0 0 15px;
}
.like.circle:nth-child(1):after,
.share.circle:nth-child(2):after {
  width: 30px;
  height: 30px;
}
p {
  padding-top: 10px;
  font-weight: 500;
  font-size: 20px;
}
body > aside > div.productInfo > div > p:nth-child(2) {
  margin-top: 10px;
}
/* 수량 */
input[type="number"] {
  padding: 5px;
  font-size: 20px;
  width: 60px;
  border: none;
  border-radius: 10px;
}
/* 기본 수량 버튼 삭제 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  width: 30px;
  height: 30px;
  background-color: #F9A71A;
  /* 삭제 */
  /* -webkit-appearance: none; */
}
/* 버튼 */
input[type="submit"] {
  padding: 10px 60px;
  margin: 20px 10px 0 0;
  border-radius: 15px;
  border: none;
  background-color: #F9A71A;
  color: white;
  font-weight: 800;
  font-size: 20px;
}
input[type="submit"].inCart {
  margin-bottom: 20px;
}
/* button hover */
input[type="submit"]:hover {
  background-color: #ffd430;
  cursor: pointer;
}

/* 추천상품 */
.recommandBox > h3 {
  font-size: 20px;
  border-bottom: 1px solid #C4C4C4;
  padding: 10px 0;
}
.recommandBox > ul {
  padding: 5px;
}
.recommandBox > ul > li > a > img {
  width: 100px;
  border-radius: 10px;
}
/* 미디어쿼리 */
@media screen and ( max-width:767px ) {
/* product main img */
  main > div.productMainPic > img {
    width: 50vw;
  }
  .detail > img {
    width: 90%;
  }
  aside > div.recommand {
    display: none;
  }
  main > div.productMainPic {
    margin: 0
  }
  main > div.productInfo {
    padding-top: 10px;
    width: 40vw;
    height: auto;
    border-radius: 20px 0 0 20px;
    display: block;
  }
  main > div.productInfo h2{
    font-size: 1.2em;
    padding: 10px 0;
  }
  .likenShare {
    display: none;
  }
  main > div.productInfo p{
    font-size: 1em;
  }
  .buying input {
    padding: 5px 10px;
    margin: 5px;
  }

}

@media screen and ( min-width:768px ) and ( max-width:1001px ) {
  main > div.productInfo {
    width: 40vw;
    border-radius: 20px 0 0 20px;
  }
  main > div.productInfo h2{
    font-size: 2em;
    line-height: 1.5;
  }
}